.hide {
  display: none;
}

body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/*mobile*/
section {
  padding-top: 48px;
  padding-bottom: 48px;
}

/*tablet*/
@media only screen and (min-width: 768px) {
  section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

/*desktop*/
@media only screen and (min-width: 1158px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  /*mobile*/
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/*tablet*/
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
}

/*desktop*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-container {
  display: flex;
}

/*.logobox {
  padding-left: 156px;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navi-group {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767.98px) {
  .navi-group {
    display: none;
  }
}

.navigation {
  background-color: #fff;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  margin-right: auto;
  /*padding-top: 18px;
  padding-bottom: 18px;*/
  align-items: center;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .navigation {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.adres {
  display: flex;
  gap: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .adres {
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .adres {
    display: none;
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: transparent;
  padding: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.navi-item {
  display: block;
  position: relative;
  box-sizing: border-box;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-item.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  position: absolute;
  bottom: -1px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .navi-item.active::after {
    bottom: -1px;
  }
}

@media only screen and (min-width: 1158px) {
  .navi-item.active::after {
    bottom: -5px;
  }
}
.navi-item:hover {
  color: #404bbf;
}
.navi-item:focus {
  color: #404bbf;
}

.logo-link {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo-link {
    margin-right: 76px;
  }
}
.logo-link:hover {
  color: #404bbf;
}
.logo-link-tile {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.strongs {
  text-align: center;
}
.contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .contacts {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.connection {
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 1157px) {
  .connection {
    color: var(--SLATE, #434455);

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.04em;
  }
}
.connection:hover {
  color: #404bbf;
}
.connection:focus {
  color: #404bbf;
}

.hero {
  /*max-width: 1440px;*/
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 72px 0;
}

@media only screen and (max-width: 1157px) {
  .hero {
    padding-bottom: 96px;
  }
}

/*@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}*/

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}
.hero-header {
  /*color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;*/
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .hero-header {
    max-width: 496px;

    font-size: 56px;

    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-header {
    margin-bottom: 48px;
  }
}

.order-button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  text-align: center;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: none;
  height: 56px;
  min-width: 169px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover {
  background-color: #404bbf;
}
.order-button:focus {
  background-color: #404bbf;
}

.strength-section {
  padding: 120px 0;
}

@media only screen and (max-width: 1157px) {
  .strength-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.strength {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .strength {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .strength {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.str-text {
  color: var(--SLATE, #434455);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .strength-item {
    font-weight: 500;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .str-text {
    color: var(--SLATE, #434455);

    font-size: 16px;

    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1158px) {
  .strength-item {
    width: calc((100% - 72px) / 4);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.strength .str-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
}

.strength-svg {
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
  .strength-svg {
    display: flex;
  }
}

.strength-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.strongs-item {
  /*font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;*/
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;

  text-align: center;
}

@media only screen and (min-width: 768px) {
  .strongs-item {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .strongs-item {
    color: var(--NAVY-BLUE, #2e2f42);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
}
.team {
  background-color: #f4f4fd;
  /*padding-top: 120px;
  padding-bottom: 120px;*/
}

@media only screen and (max-width: 1157px) {
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.team-header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 48px;
}
/*desktop*/
@media only screen and (min-width: 1158px) {
  .team-header {
    margin-top: 60px;
  }
}

.social-team {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-svg {
  fill: currentColor;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    gap: 24px;
  }
}

.team-list-items {
  width: 264px;
  color: #2e2f42;
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0 0 4px 4px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-list-items {
    width: 264px;
    align-items: center;
  }
}

.team-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-item-header {
  display: block;
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  color: (#2e2f42);
  text-align: center;
}

.tl-item-text {
  padding: 32px 0;
}

.portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media only screen and (max-width: 1157px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.portfolio-header {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.pfimg {
  margin-bottom: 0px;
}

.pfbox {
  padding-bottom: 32px;
  padding-top: 32px;
}

.pfbox {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px 24px;
}

.pf-list-item {
  width: calc((100% - 48px) / 2);
  /*width: 288px;*/
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 48px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .pf-list-item {
    width: calc((100% - 48px) / 3);
  }
}

.pf-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pf-list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list-item {
  background-color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: start;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: start;
  display: block;
}

.pf-list-item-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--CLOUD, #f4f4fd);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 40px 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*mobile footer*/

.footer {
  font-family: "Relaway", sans-serif;
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .container .footer-container {
    padding: 0 108px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-first {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-first {
    max-width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-first {
    margin-right: 120px;
  }
}

.logo-link-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-link-tile-footer {
  color: #f4f4fd;
}
.footer-paragraph {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 767.98px) {
  .footer-second {
    margin-bottom: 72px;
  }
}
.sfm {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}
.social-footer {
  display: flex;

  gap: 16px;
  justify-content: center;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 1158px) {
  .footer-second {
    margin-right: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-third {
    max-width: 496px;
    width: 100%;
    margin-right: auto;
  }
}

.third-caption {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    flex-wrap: nowrap;
    justify-content: left;
  }
}

.subscribe-form-field {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .subscribe-form-field {
    max-width: 264px;
  }
}

.subscribe-input {
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.subscribe-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  gap: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  height: 40px;
}
.subscribe-svg {
  fill: #fff;
}

/*modal*/

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #111111;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:focus .close {
  fill: #ffffff;
}
.modal-close:hover .close {
  fill: #ffffff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
  width: 100%;
  max-width: 288px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 100%;
    max-width: 408px;
  }
}

.close {
  stroke: currentColor;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  display: block;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.modal-form-wrapper {
  margin-bottom: 8px;
}

.form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.form-field {
  position: relative;
}
.user-input {
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user_svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input:focus {
  border-radius: 4px;
  border-color: #4d5ae5;
}

.user-input:focus + .user_svg {
  fill: #4d5ae5;
}

.modal-text-area {
  margin-bottom: 16px;
}

.text-areal {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
}

.text-areal:focus {
  border-color: #4d5ae5;
}

.text-areal::placeholder {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.form-agreement {
  display: block;
  margin-bottom: 24px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  user-select: none;
}

.form-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.form-agreement-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.form-agreement-svg {
  opacity: 0;
  fill: #d9d9d9;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .form-agreement > .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.visually-hidden:checked
  + .form-agreement
  > .form-agreement-checkbox
  > .form-agreement-svg {
  opacity: 1;
}
.send-wrapper {
  margin-bottom: 24px;
}

.form-send {
  font-family: "Roboto", sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  text-align: center;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  min-height: 56px;
  min-width: 169px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send:hover,
.form-send:focus {
  background-color: #404bbf;
}

.subscribe-input::placeholder {
  color: #fff;
}

.social-mobile {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.social-item-mobile {
  width: 40px;
  height: 40px;
}

.social-svg-mobile {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.social-link-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 72px 16px 40px;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #2e2f42;
  border-radius: 50%;
}

.mobile-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-link.active {
  color: #404bbf;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-contact {
  color: var(--SLATE, #434455);

  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.mobile-menu-contact.accent {
  color: #4d5ae5;
}

.mobile-menu-contacts > .mobile-menu-contact:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-menu-list {
  margin-bottom: auto;
}
